services:
  mariadb:
    image: mariadb:11
    container_name: mariadb
    env_file:
      - .env.production
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  ft_transcendence:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ft_transcendence
    ports:
      - "9443:9443"
      - "9000:9000"
    env_file:
      - .env.production
    volumes:
      - ./config:/ft_transcendence/config:ro
      - ./uploads:/ft_transcendence/uploads
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped

volumes:
  db_data:

networks:
  default: