body {
  background-color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: monospace;
}

#game {
  position: relative;
}

canvas {
  background-color: #181825;
  border: 2px solid #89b4fa;
  border-radius: 10px;
}

#fpsCounter {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #cdd6f4;
  font-family: monospace;
  font-size: 18px;
}
