body {
  background-color: #0f8a08;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: monospace;
}

canvas {
  background-color: #181825;
  border: 2px solid #89b4fa;
  border-radius: 10px;
}
